<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />

  <title>Keep On Spinning</title>
  <!-- Icon -->
  <link rel="icon" href="Images/icon.ico">
  <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
  <!-- Styles-->
  <link rel="stylesheet" th:href="@{mainStyles.css}">
  </link>
  <link rel="stylesheet" th:href="@{paginationStyles.css}">
  </link>


</head>

<body>

  <!---       Top Navbar Container           -->
  <div class="nav-bar-top">

    <div class="logo-container">
      <!-- Record Logo Icon -->
      <img th:src="@{Images/record8.png}" alt="record_logo" id="logo-icon" class="logo-icon" />
      <!-- Page Heading Top -->
      <h1>Keep On Spinning</h1>
    </div>

    <div class="button-container">
      <!--- Add New Record Button -->
      <button type="button" id="newRecordBtn" class="homeNewRecordBtn" data-target="#newRecordModal">Add Record</button>
      <button class="button">Expenses</button>
    </div>

  </div>
  <!-- End of Top Nav Bar -->

  <!-- Page Numbers Section Top -->
  <div class="pagination-div" th:with="sortParam=${sortProperty+','+(sortDesc?'desc':'asc')}">
    <span th:if="${page.hasPrevious()}">
      <a th:href="@{/(page=${page.number-1},size=${page.size},sort=${sortParam})}">Previous</a>
    </span>
    <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
        <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
        <span th:unless="${page.number == i}">
             <a th:href="@{/(page=${i},size=${page.size},sort=${sortParam})}">[[${i}+1]]</a>
        </span>
    </th:block>
    <span th:if="${page.hasNext()}">
        <a th:href="@{/(page=${page.number+1},size=${page.size},sort=${sortParam})}">Next</a>
    </span>
</div>

        <!-- Filter Section -->
        <div class="filter-container">
             <!-- Filter Icon -->
             <img src="../static/Images/filter.png" th:src="@{Images/filter.png}" alt="filter" id="filter-icon" class="filter-icon"/>
            <!-- Filter Input Boxes-->
                <input type="text" id="artistFilter" class="filterInput"  placeholder="Filter by Artist...">
                <input type="text" id="albumFilter" class="filterInput" placeholder="Filter by Album...">
                <input type="text" id="yearFilter"  class="filterInput" placeholder="Filter by Year..." >
                <input type="text" id="countryFilter"  class="filterInput"  placeholder="Filter by Country..." >
        </div>
        <!-- End of Filter Section  -->
        <div class="row-count-container">
            <h3 class="row-count">Total Records: [[${totalItems}]] </h3>
          </div>
        <!-- Records Table -->
        <div class="table-section">
            <table id="myTable" class="myTable">
               <thead>
                    <tr>
                       <th class="table-head" id="table-head-id" title="Sort By ID" data-sort-prop="id">ID</th>
                       <th class="table-head" id="table-head-artist" title="Sort By Artist" data-sort-prop="artist">Artist</th>
                       <th class="table-head" id="table-head-album" title="Sort By Album" data-sort-prop="album">Album</th>
                       <th class="table-head" id="table-head-catNum" data-sort-prop="catalog_number">Catalog Number</th>
                       <th class="table-head" id="table-head-format" data-sort-prop="format">Format</th>
                       <th class="table-head" id="table-head-cover-condition" data-sort-prop="cover_condition">Cover Condition</th>
                       <th class="table-head" id="table-head-record-conditon" data-sort-prop="record_condition">Record Condition</th>
                       <th class="table-head" id="table-head-pressing" data-sort-prop="pressing">Pressing</th>
                       <th class="table-head" id="table-head-remakrs" data-sort-prop="remarks">Remarks</th>
                       <th class="table-head" id="table-head-release-date" data-sort-prop="year" title="Sort By Year">Year</th>
                       <th class="table-head" id="table-head-on-discogs" data-sort-prop="on_discogs">On Discogs</th>
                       <th class="table-head" id="table-head-discogs-link" data-sort-prop="discogs_link">Discogs Link</th>
                       <th class="table-head" id="table-head-actions" colspan="2">Actions</th>
                   </tr>
               </thead>
                    <tbody>         <!--listRecords-->
                        <tr th:each="records:${page.content}">
                            <td class="table-data-artist" th:text="${records.id}">ID</td>
                            <td class="table-data-artist" th:text="${records.artist}">Artist</td>
                            <td class="table-data" th:text="${records.album}">Album</td>
                            <td class="table-data-catNum" th:text="${records.catalog_number}">Catalog Number</td>
                            <td class="table-data-format" th:text="${records.format}">Format</td>
                            <td class="table-data-record-condition" th:text="${records.cover_condition}">Cover Condition</td>
                            <td class="table-data-cover-condition" th:text="${records.record_condition}">Record Condition</td>
                            <td class="table-data-country" th:text="${records.pressing}">Pressing</td>
                            <td class="table-data-remarks" th:text="${records.remarks}">Remarks</td>
                            <td class="table-data-release-date" th:text="${records.year}">Year</td>
                            <td class="table-data-on-discogs" th:text="${records.on_discogs}">On Discogs </td>
                            <td class="table-data-discogs-link" >  <a th:href="${records.discogs_link}" target="_blank"><img th:src="@{Images/link-icon.jpg}" alt="link-icon" > </a></td>
                            <td class="edit-button"><a th:href="@{/findById(id=${records.id})}" id="editButton" class="edit" title="edit"><img th:src="@{Images/edit.png}" class="edit-icon" alt="Edit"></a></td>
                            <td class="delete-button"><a th:href="@{/delete/(id=${records.id})}" id="deleteButton" class="delete" title="delete"><img th:src="@{Images/delete.png}" class="delete-icon" alt="Delete"></a></td>
                        </tr>
                    </tbody>
               </table>
        </div>
        <!-- End of Records Table -->

        <!-- Page Numbers Section Bottom -->
  <!-- Page Numbers Section -->
  <div class="pagination-div" th:with="sortParam=${sortProperty+','+(sortDesc?'desc':'asc')}">
    <span th:if="${page.hasPrevious()}">
      <a th:href="@{/(page=${page.number-1},size=${page.size},sort=${sortParam})}">Previous</a>
    </span>
    <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
        <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
        <span th:unless="${page.number == i}">
             <a th:href="@{/(page=${i},size=${page.size},sort=${sortParam})}">[[${i}+1]]</a>
        </span>
    </th:block>
    <span th:if="${page.hasNext()}">
        <a th:href="@{/(page=${page.number+1},size=${page.size},sort=${sortParam})}">Next</a>
    </span>
</div>
        <!--    Edit Record Modal   -->
        <div id="recordEditModal" class="recordEditModal">
            <div class="heading-container">
                <h2>Edit Record</h2>
            </div>
            <form class="model-content" th:action="@{/update}" method="put">
                <div class="edit-form-row">
                    <label for="idEdit" class="edit-modal-label">ID</label><br>
                    <input type="text" class="edit-modal-input" id="idEdit" name="id" readonly>
                </div>
                <div class="edit-form-row">
                    <label for="artistEdit" class="edit-modal-label">Artist</label><br>
                        <input type="text" class="edit-modal-input" id="artistEdit" name="artist" required>
                </div>
                <div class="edit-form-row">
                    <label for="albumEdit" class="edit-modal-label">Album</label><br>
                    <input type="text" class="edit-modal-input" id="albumEdit" name="album" required>
                </div>
                <div class="edit-form-row">
                    <label for="catNumEdit" class="edit-modal-label">Catalog Number</label><br>
                    <input type="text" class="edit-modal-input" id="catNumEdit" name="catatalog_number" required>
                </div>
                <div class="edit-form-row">
                  <label for="formatEdit" class="edit-modal-label">Format</label><br>
                   <input type="text" class="edit-modal-input" id="formatEdit" name="format">
                </div>
                <div class="edit-form-row">
                    <label for="cover_conditionEdit" class="edit-modal-label">Cover Condition</label><br><br>
                    <input type="text" class="edit-modal-input" id="cover_conditionEdit" name="cover_condition" >
                </div>
                <div class="edit-form-row">
                    <label for="record_conditionEdit" class="edit-modal-label">Record Condition</label><br>
                    <input type="text" class="edit-modal-input" id="record_conditionEdit" name="record_condition" >
                </div>
                <div class="edit-form-row">
                    <label for="pressingEdit" class="edit-modal-label">Pressing</label><br>
                    <input type="text" class="edit-modal-input" id="pressingEdit" name="pressing" >
                </div>
                <div class="edit-form-row">
                    <label for="remarksEdit" class="edit-modal-label">Remarks</label><br>
                    <input type="text" class="edit-modal-input" id="remarksEdit" name="remarks" >
                </div>
                <div class="edit-form-row">
                    <label for="yearEdit" class="edit-modal-label">Release Date</label><br>
                    <input type="text" class="edit-modal-input" id="yearEdit" name="year" >
                </div>
                <div class="edit-form-row">
                    <label for="onDiscogsEdit" class="edit-modal-label">On Discogs</label><br>
                    <input type="checkbox" class="discogsCheckbox" id="onDiscogsEdit" name="on_discogs" >
                </div>
                <div class="edit-form-row">
                    <label for="discogsLinkEdit" class="edit-modal-label">Discogs Link</label><br>
                    <input type="text" class="edit-modal-input" id="discogsLinkEdit" name="discogs_link" >
                </div>
              <div class="edit-modal-button-container">
                  <button id="close" class="edit-modal-button">close</button>
                  <button type="submit" id="editSave" class="edit-modal-button">Save</button>
              </form>
          </div>
        </div>
        <!-- End of Edit Record Modal  -->

        <!--     New Record Modal       -->
        <div id="newRecordModal" class="newRecordModal">
          <div class="new-middle">
            <div class="heading-container">
                <h2>New Record</h2>
            </div>
            <!-- New Record Form Start -->
            <form class="model-content-new" th:action="@{/addNew}" method="post">
             <!-- <input type="text" class="id" id="idInput" placeholder="ID..." readonly> -->

            <!-- Form Grourp Left Start -->
            <div class="form-group">
              <div class="new-record-model-row">
                  <label for="artistInput" class="new-record-modal-label">Artist</label><br>
                  <input type="text" id="artistInput" class="recordInput" name="artist" required>
              </div>
              <div class="new-record-model-row">
                    <label for="albumInput" class="new-record-modal-label">Album</label><br>
                <input type="text" id="albumInput" class="recordInput" name="album" required>
              </div>
              <div class="new-record-model-row">
                    <label for="catNumInput"  class="new-record-modal-label">Catalog Number</label>
                    <input type="text" id="catNumInput" class="recordInput" name ="catalog_number" required>
              </div>
              <div class="new-record-model-row-select">
                <label for="format"  class="new-record-modal-label">Format</label>
                <select id="format" name="format">
                  <option value="LP">LP</option>
                  <option value="LP, Gatefold">LP, Gatefold</option>
                  <option value="2LP">2LP</option>
                  <option value="2LP, Gatefold">2LP, Gatefold</option>
                  <option value="3LP">3LP</option>
                  <option value="3LP, Gatefold">3LP, Gatefold</option>
                  <option value="3LP, Trifold">3LP, Trifold</option>
                  <option value="4LP">4LP</option>
                  <option value="4LP">4LP</option>
                  <option value="Boxset">Boxset</option>
                  <option value="10-Inch">10-Inch</option>
                  <option value="7-Inch">7-Inch</option>
                </select>
              </div>
              <div class="new-record-model-row-select">
                  <label for="coverCondition"  class="new-record-modal-label">Cover Condition</label>
                <select id="coverCondition" name="cover_condition">
                  <option value="">Cover Condition</option>
                  <option value="M">M</option>
                  <option value="NM">NM</option>
                  <option value="EX">EX</option>
                  <option value="VG++">VG++</option>
                  <option value="VG+">VG+</option>
                  <option value="VG">VG</option>
                  <option value="VG-">VG-</option>
                  <option value="G+">G+</option>
                  <option value="G">G</option>
                  <option value="F">F</option>
                  <option value="P">P</option>
                  <option value="No Cover">No Cover</option>
                </select>
              </div>
              <div class="new-record-model-row-select">
                  <label for="recordCondition"  class="new-record-modal-label">Record Condition</label>
                  <select id="recordCondition" name="record_condition">
                    <option value="">Record Condition</option>
                    <option value="M">M</option>
                    <option value="NM">NM</option>
                    <option value="EX">EX</option>
                    <option value="VG++">VG++</option>
                    <option value="VG+">VG+</option>
                    <option value="VG">VG</option>
                    <option value="VG-">VG-</option>
                    <option value="G+">G+</option>
                    <option value="G">G</option>
                    <option value="F">F</option>
                    <option value="P">P</option>
                  </select>
              </div>
              <div class="new-record-model-row-select">
                  <label for="country"  class="new-record-modal-label">Country Pressing</label>
                  <select id="country" name="pressing">
                    <option selected="selected">
                      Pressing
                    </option>
                    <option value="South Africa">South Africa</option>
                    <option value="UK">UK</option>
                    <option value="USA">USA</option>
                    <option value="German">German</option>
                    <option value="Holland">Holland</option>
                    <option value="France">France</option>
                    <option value="Zimbabwe">Zimbabwe</option>
                    <option value="AUS">AUS</option>
                    <option value="NZ">NZ</option>
                    <option value="EU">EU</option>
                    <option value="Switzerland">Switzerland</option>
                    <option value="Japan">Japan</option>
                    <option value="Brazil">Brazil</option>
                    <option value="Portugal">Portugal</option>
                    <option value="Russian">Russian</option>
                    <option value="Taiwan">Taiwan</option>
                  </select>
              </div>
<!-- End of Form-group left -->

<!-- Form Grourp Right Start -->
            </div>

            <div class="form-group">
              <div class="new-record-model-row">
                <label for="remarksInput"  class="new-record-modal-label">Remarks</label>
                <input type="text" id="remarksInput" class="recordInput" name="remarks">
              </div>
              <div class="new-record-model-row">
                <label for="releaseDateInput" class="new-record-modal-label">Release Date</label>
                <input type="text" id="releaseDateInput" class="recordInput" name="album_release_date" >
              </div>
              <div class="checkbox-container">
                <label for="onDiscogsInput" class="onDiscogsInputLbl" >On Discogs</label>
                <input type="checkbox" id="onDiscogsInput" class="discogsCheckbox" name="on_discogs">
              </div>
              <div class="new-record-model-row">
                <label for="discogsLinkInput" class="new-record-modal-label">Discogs Link</label>
                <input type="url"  id="discogsLinkInput" class="recordInput" name="discogs_link">
              </div>
            </div>
              <div class="buttonContainer">
                <button id="cancel" class="buttons">Cancel</button>
                <button type="submit" id="saveRecordBtn" class="buttons" >Save</button>
              </div>
            </form>
            <!-- New Record Form End -->
          </div>
        </div>
        <!--     End of New Record Modal       -->

      <!-- Delete Modal -->
      <div class="delete-modal" id="deleteModal">
        <div class="delete-modal-content">
          <div class="delete-modal-heading">
              <h3>Confirm Delete</h3>
          </div>
          <div class="delete-button-container">
            <button class="buttons" id="cancel">Cancel</button>
            <a class="buttons" id="confirmDelete" href="">Yes, Delete</a>
          </div>
        </div>
      </div>

    <!--   Footer   -->
    <footer> <p>&copy; 2020 | Gullian Van Der Walt</p>  </footer>

        <!-- jQuery -->

  <script th:src="@{js/script.js}" src="js/script.js"></script>
  <!-- nice scroll -->
  <script src="js/jquery.scrollTo.min.js"></script>
  <script src="js/jquery.nicescroll.js" type="text/javascript"></script>
    <!-- Sorting -->
    <script th:inline="javascript">


      //Thymlead to JS Variables
      /*<![CDATA[*/
      var sortProperty = /*[[${sortProperty}]]*/ null;
      var sortDesc = /*[[${sortDesc}]]*/ null;
      var currentPage = /*[[${page.number}]]*/ 0;
      var pageSize =/*[[${page.size}]]*/ 0;

      /*]]>*/

      $(document).ready(function () {
        //show up/down arrows
        $("table#myTable thead th").each(function () {
          var head = $(this);
          if (head.attr('data-sort-prop') == sortProperty) {
            head.append(sortDesc ? '▾' : '▴');
          }
        });

        //set click action, reload page on clicking with all query params
        $("table#myTable thead th").click(function () {
          var headerSortPropName = $(this).attr("data-sort-prop");
          if (headerSortPropName == sortProperty) {
            window.location.href = window.location.pathname +
              '?page=' + currentPage + '&size=' + pageSize + '&sort=' + headerSortPropName + ',' +
              (sortDesc ? 'asc' : 'desc');
          } else {
            window.location.href = window.location.pathname +
              '?page=' + currentPage + '&size=' + pageSize + '&sort=' + headerSortPropName + ',asc';
          }
        });


      });
      /*<![CDATA[*/

      var listRecords = /*[[${listRecords}]]*/;

      /*]]>*/

      $('#artistFilter').keyup(function () {
        var value = $(this).val();
        //Get Filtered Records List
        var data = FilterFunction(value, listRecords);
        //Clear table and rebuild with the filtered data
        rebuildTable(data)

      });
      //Get the data that matches artist input
      function FilterFunction(value, data) {
        //Array of FilteredData
        var filteredData = [];
        for (var i = 0; i < data.length; i++) {
          value = value.toLowerCase();
          var artistSearch = data[i].artist.toLowerCase();

          if (artistSearch.includes(value)) {
            filteredData.push(data[i]);
          }
        }
        return filteredData;
      }
      //Rebuild the table
      function rebuildTable(data) {
        var table = document.getElementById('myTable')
        table.innerHTML = ''
        for (var i = 0; i < data.length; i++) {
          var row = `<tr>
                                <td>${data[i].id}</td>
                                <td>${data[i].artist}</td>
                                <td>${data[i].album}</td>
                                <td>${data[i].catalog_number}</td>
                                <td>${data[i].format}</td>
                                <td>${data[i].cover_condition}</td>
                                <td>${data[i].record_condition}</td>
                                <td>${data[i].pressing}</td>
                                <td>${data[i].remarks}</td>
                                <td>${data[i].album_release_date}</td>
                                <td>${data[i].on_discogs}</td>
                                <td>${data[i].discogs_link}</td>
                          </tr>`
          table.innerHTML += row

        }
      }
    </script>
</body>
</html>
