<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">

    <title>New Record</title>
</head>
<body class="new-record-body">
    <!---       Main Container           -->
    <div class="wrapper">
        <!---       Top Navbar Container           -->
        <div class="nav-bar-top">

            <!-- Record Logo Icon -->
            <div class="logo-container"><img src="/Icons/record8.png" alt="record_logo" id="logo-icon" class="logo-icon"></div>

            <!-- Page Heading Top -->
            <h1>Keep On Spinning</h1>

            <h2 class="newRecordHeading">New Record</h2>

            <a href="index.html" class="home-link"><img src="/Icons/home.png" alt="home"></a>

        </div>
        <!-- End of Top Nav Bar -->
        <!--- Record Form Section -->
        <div class="form-container">
            <form>
                <input type="text" id="artistInput" class="recordInput"  placeholder="Artist..." required>
                <input type="text" id="albumInput" class="recordInput"  placeholder="Album..." required>
                <input type="text" id="catNumInput" class="recordInput"  placeholder="Catalog Number..." required>
                <select id="format" name="format">
                    <option value="LP">LP</option>
                    <option value="LP, Gatefold">LP, Gatefold</option>
                    <option value="2LP">2LP</option>
                    <option value="2LP, Gatefold">2LP, Gatefold</option>
                    <option value="3LP">3LP</option>
                    <option value="3LP, Gatefold">3LP, Gatefold</option>
                    <option value="3LP, Trifold">3LP, Trifold</option>
                    <option value="4LP">4LP</option>
                    <option value="4LP">4LP</option>
                    <option value="Boxset">Boxset</option>
                    <option value="10-Inch">10-Inch</option>
                    <option value="7-Inch">7-Inch</option>
                </select>
                <select id="recordCondigtion" name="recordCondigtion">
                    <option value="M">M</option>
                    <option value="NM">NM</option>
                    <option value="EX">EX</option>
                    <option value="VG++">VG++</option>
                    <option value="VG+">VG+</option>
                    <option value="VG">VG</option>
                    <option value="VG-">VG-</option>
                    <option value="G+">G+</option>
                    <option value="G">G</option>
                    <option value="F">F</option>
                    <option value="P">P</option>
                </select>
                <select id="coverCondigtion" name="coverCondigtion">
                    <option value="M">M</option>
                    <option value="NM">NM</option>
                    <option value="EX">EX</option>
                    <option value="VG++">VG++</option>
                    <option value="VG+">VG+</option>
                    <option value="VG">VG</option>
                    <option value="VG-">VG-</option>
                    <option value="G+">G+</option>
                    <option value="G">G</option>
                    <option value="F">F</option>
                    <option value="P">P</option>
                </select>
                <input type="text" id="remarksInput" class="recordInput"  placeholder="Remarks..." > 
                <select id="country" name="country">
                    <option selected="selected">
                        Pressing
                    </option>
                    <option value="South Africa">South Africa</option>
                    <option value="UK">UK</option>
                    <option value="USA">USA</option>
                    <option value="German">German</option>
                    <option value="Holland">Holland</option>
                    <option value="France">France</option>
                    <option value="Zimbabwe">Zimbabwe</option>
                    <option value="AUS">AUS</option>
                    <option value="NZ">NZ</option>
                    <option value="EU">EU</option>
                    <option value="Switzerland">Switzerland</option>
                    <option value="Japan">Japan</option>
                    <option value="Brazil">Brazil</option>
                    <option value="Portugal">Portugal</option>
                    <option value="Russian">Russian</option>
                    <option value="Taiwan">Taiwan</option>
                </select>
                <input type="text" id="releaseDateInput" class="recordInput"  placeholder="Original Release Date..." >
                <label for="onDiscogsInput" class="onDiscogsInputLbl">On Discgos</label> 
                <input type="checkbox" id="onDiscogsInput" class="recordInput" name="onDiscogsInput">
                <input type="url"  id="discogsLinkInput" class="recordInput" placeholder="Discogs Link...">
                <button type="submit" id="saveRecordBtn" class="newRecordBtn" >Save</button><br>
            </form>

            <div  class="button-contaier">


            </div>

        </div>





    </div>

    <!--   Footer   -->
    <footer class="new-record-footer"> <p>&copy; 2020 | Gullian Van Der Walt</p>  </footer>

<script src="/js/script.js"></script>
</body>
</html>